<div class="px-md-3 px-lg-4 mt-4">
    <h2 class="fw-semibold texto-azul-004884 mb-3" *ngIf="idEncuesta != 1 && idEncuesta != 2">Encuestas</h2>
    <h2 class="fw-semibold texto-azul-004884 mb-3" *ngIf="idEncuesta == 1 || idEncuesta == 2">Encuestas fase {{idEncuesta}}</h2>
    <div class="d-flex flex-gap-20 align-items-center mb-4" *ngIf="this.rol && this.rol.id != '003'">
        <fieldset>
            <app-input-busqueda [(ngModel)]="termino" />
        </fieldset>
        <fieldset>
            <button class="boton primario relleno" (click)="actualizarFiltros()">Buscar</button>
        </fieldset>
    </div>
    <div class="d-flex">
        <div class="table-responsive">
            <table class="table table-bordered tabla-primaria">
                <thead>
                    <tr class="fs-14px">
                        <th class=""></th>
                        <th class="">No. Reporte</th>
                        <th class="">Encuesta</th>
                        <th class="">Descripción</th>
                        <th class="">Clasificación</th>
                        <th class="">Fecha inicio</th>
                        <th class="">Fecha final</th>
                        <th class="">Fecha de envío a ST</th>
                        <th class="">Razón social - NIT</th>
                        <th class="">Email</th>
                        <th class="">Estado actual</th>
                    </tr>
                </thead>
                <tbody class="fs-14px">
                    <tr *ngFor="let reporte of reportes ; let i = index">
                        <td><img 
                            [routerLink]="['/administrar', 'encuesta', reporte.idEncuestaDiligenciada]"
                            [queryParams]="{ vigilado: reporte.idVigilado , reporte: reporte.numeroReporte }"  
                            class="cursor-pointer" src="assets/img/buscar-documento.png" alt="buscar-encuesta" draggable="false"></td>
                        <td>{{ reporte.numeroReporte }}</td>
                        <td>{{ reporte.encuesta }}</td>
                        <td>
                            <div class="contenedor-descripcion">
                                {{ reporte.descripcion }}
                            </div>
                        </td>
                        <td>{{ reporte.clasificacion }}</td>
                        <td>{{ reporte.fechaInicio | fecha: 'dd/MM/yyyy' }}</td>
                        <td>{{ reporte.fechaFinal | fecha: 'dd/MM/yyyy' }}</td>
                        <td>{{ reporte.fechaEnvioST | fecha: 'dd/MM/yyyy'}}</td>
                        <td class="td-razon-social">{{ reporte.razonSocial }} - {{ reporte.nit }}</td>
                        <td>{{ reporte.email }}</td>
                        <td>{{ reporte.estado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-3">
        <ngb-pagination
        *ngIf="this.paginador.totalRegistros && this.paginador.totalRegistros > 5"
        [collectionSize]="this.paginador.totalRegistros" 
        [page]="this.paginador.pagina"
        [maxSize]="6"
        (pageChange)="this.paginador.cambiarPagina($event)"
        [pageSize]="this.paginador.limite"
        >
            <ng-template ngbPaginationFirst>Prim.</ng-template>
            <ng-template ngbPaginationLast>Ult.</ng-template>
            <ng-template ngbPaginationPrevious>Ant.</ng-template>
            <ng-template ngbPaginationNext>Sig.</ng-template>
        </ngb-pagination>
    </div>
</div>