<div class="px-md-3 px-lg-4 mt-4">
  <div class="d-flex flex-column mb-4">
    <div class="formulario d-flex gap-3 align-items-start flex-wrap">
      <div class="col-3">
        <label class=" fs-14px">Empresas:</label>
        <fieldset>
          <select [(ngModel)]="idEmpresa" class="form-select">
            <option value="">Selecciona una empresa</option>
            <option *ngFor="let empresa of empresas" [value]="empresa.idEmpresa">
              {{empresa.nombre}}
            </option>
          </select>
        </fieldset>
      </div>
      <div class="col-3">
        <label class=" fs-14px">Fecha inicial:</label>
        <input [(ngModel)]="fechaInicial" type="date" class="form-control">
      </div>
      <div class="col-3">
        <label class=" fs-14px">Fecha final:</label>
        <input [(ngModel)]="fechaFinal" type="date" class="form-control">
      </div>
      <div class="col-2 d-flex align-items-end">
        <button type="button" class="boton primario relleno" (click)="asignarEmpresa()">
          Asignar
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="table-responsive custom-scroll">
          <table class="table table-bordered tabla-primaria">
            <thead>
              <tr class="fs-14px">
                <th class="" style="
    border-radius: 5px 0 0 0;">Empresa</th>
                <th class="">Fecha inicial</th>
                <th class="">Fecha final</th>
                <th>Contrato</th>
                <th class="">Token</th>
                <th class="">Estado</th>
                <th class="" style="
    border-radius: 0 5px  0 0;">Editar</th>
              </tr>
            </thead>
            <tbody class="fs-14px">
              <tr *ngFor="let seleccionada of seleccionadas; let i=index">
                <td>{{seleccionada.nombre}}</td>
                <td>{{seleccionada.fechaInicialMostrar}}</td>
                <td>{{seleccionada.fechaFinalMostrar}}</td>
                <td>{{seleccionada.nombreOriginal}}</td>
                <td>{{seleccionada.token}}</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" [checked]="seleccionada.estado"
                      (change)="cambiarEstado(seleccionada.idEmpresa, seleccionada.estado)">
                    <span class="slider round"></span>
                  </label>
                </td>
                <td>
                  <button type="button" class="boton primario relleno"
                    (click)="abrirModalActualizarSeleccionada(seleccionada)">
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-popup #popup></app-popup>
<app-modal-actualizar-seleccionadas #modalActualizarSeleccionadas></app-modal-actualizar-seleccionadas>
