.contenedor-formulario{
    width: 100%;
    max-width: 750px;
}
.texto-azul-004884 {
    color: #004884;
    opacity: 1;
    font: normal normal bold 32px / 18px Montserrat;
}

.texto-input-footer{
    text-align: left;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #4B4B4B;
}