<ng-container *ngIf="evidencia && respuesta">
    <fieldset class="d-flex flex-column flex-gap-5" *ngIf="evidencia.tipoEvidencia === 'FILE'">
        <label class="fs-12px validacion">Solo archivos {{ evidencia.validaciones.tipoDato }}</label>
        <app-input-archivo
        [disabled]="soloLectura"
        [(ngModel)]="archivo"
        [tamanoMaximoMb]="evidencia.tamanio"
        (excedeTamano)="manejarExcedeTamano()"
        (ngModelChange)="manejarCambioEvidenciaArchivo($event)"
        [nombre]="evidencia.idEvidencia.toString()"
        [acepta]="[evidencia.validaciones.extension]" />
        <span class="fw-semibold fs-12px">Máximo {{evidencia.tamanio}} Mb</span>
        <span (click)="descargarEvidencia()" class="hipervinculo fs-12px cursor-pointer" *ngIf="evidencia.nombreOriginal != ''">
            Evidencia {{ evidencia.consecutivo }} {{ nombreFormulario }}
        </span>
        <span class="fs-12px" *ngIf="evidencia.nombreOriginal == ''">Sin evidencia adjunta.</span>
    </fieldset>
    
    <fieldset *ngIf="evidencia.tipoEvidencia === 'NUMBER'">
        <app-input-numerico
        [disabled]="soloLectura"
        [valorInicial]="+evidencia.respuesta"
        [cantidadDecimales]="evidencia.validaciones.cantDecimal"
        [ngModel]="valor"
        (ngModelChange)="manejarCambioEvidenciaNumerica($event)"/>
    </fieldset>

    <fieldset *ngIf="evidencia.tipoEvidencia === 'STRING'">
        <input type="text" class="form-control"
        [disabled]="soloLectura"
        [ngModel]="valor"
        (ngModelChange)="manejarCambioEvidenciaNumerica($event)">
    </fieldset>
</ng-container>

