.encabezado-tabla{
    background-color: #E6EFFD;
    color: #004884;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

.px-lg-4 {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
}
