.encabezado-tabla{
    background-color: #E6EFFD;
    color: #004884;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}

.px-lg-4 {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
}

button {
    margin-right: 115px; /* Ajusta el espacio según sea necesario */
}

button:last-child {
    margin-right: 0; /* Evita el margen derecho en el último botón */
}
.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
    border: 0;
    border-radius: 5px;
}
.col-md-12 {
    flex: 0 0 auto;
    width: 55%;
}
.margen{
    margin-left: -44px;
    margin-top: -45px;
}

.text-area{
    height: auto;
}