<!-- AGREGAR ENCABEZADO -->
<div class="p-md-3 p-lg-5">
<h3 class="texto-primario fw-semibold" *ngIf="encuesta">
    Resultado de los indicadores 
  </h3>
  <h6 class="texto-primario fw-semibold">Reporte número {{idReporte}}</h6>

  <form class="col-sm-100 col-md-12 mb-4" *ngIf="encuesta">
    <div class="row">
      <div class="col">
        <div class="row mb-2">
          <div class="col">NIT</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="encuesta.idVigilado">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">Razón social</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="encuesta.razonSocila">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">Estado actual</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="encuesta.estadoActual">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">Clasificación según resolución 20223040040595 DE 2022</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="clasificacionResolucion">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">Modalidad</div>
          <div class="">
            <textarea class="form-control text-area" disabled>{{ encuesta.modalidad }}</textarea>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row mb-2">
          <div class="col">Total de conductores</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="encuesta.totalConductores">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">Total de Vehículos</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="encuesta.totalVehiculos">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">Porcentaje de pasos</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="formatoPorcentajes(encuesta.porcentajePasos)">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">Procentaje de preguntas</div>
          <div class="">
            <input type="text" class="form-control" disabled [value]="formatoPorcentajes(encuesta.porcentajePreguntas)">
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <div class="align-right-boton">
    <button class="boton primario delineado" [routerLink]="['/administrar', 'resultado-indicadores']">
      Volver
    </button>
  </div>
  
<div class="table-responsive">
<table class="tabla-resultados-indicadores" *ngIf="resultadosIndicadores">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Indicador</th>
            <th>Fórmula</th>
            <th>Ene</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Abr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Ago</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dic</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let indicador of resultadosIndicadores.indicadores">
            <tr *ngFor="let fila of indicador.filas ; let i = index">
                <td *ngIf="i === 0" [attr.rowspan]="indicador.filas.length" class="fw-semibold">{{ indicador.id }}</td>
                <td *ngIf="i === 0" [attr.rowspan]="indicador.filas.length">{{ indicador.nombre }}</td>
                <td *ngIf="i === 0" [attr.rowspan]="indicador.filas.length">{{ "" }}</td>
                <td *ngFor="let columna of fila.columnas" [attr.colspan]="columna.span">
                    {{ columna.valor }}
                </td>
            </tr>
        </ng-container>
    </tbody>

</table>
</div>
</div>