.tabla-resultados-indicadores{
    border-collapse: collapse;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    
}
.tabla-resultados-indicadores td,
.tabla-resultados-indicadores th{
    border: 1px solid gainsboro;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
}
.tabla-resultados-indicadores th{
    font-weight: 600;
    color: var(--azul-oscuro);
    background-color: var(--azul-claro);
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 12px;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
     border-style: hidden; 
    border-width: 1px;
    border-bottom: 1px solid #ddd;
    border-top: none;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    
    border-radius: 5px;
    opacity: 1;
    border-radius: 5px;
    border-bottom: hidden;
}


.p-lg-5 {
    padding: 3rem !important;
    margin-left: 22px;
    margin-right: 22px;
}

button {
    margin-right: 115px; /* Ajusta el espacio según sea necesario */
}

button:last-child {
    margin-right: 0; /* Evita el margen derecho en el último botón */
}


.col-md-12 {
    flex: 0 0 auto;
    width: 75%;
}
.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
    border: 0;
    border-radius: 5px;
}
.text-area{
    height: auto;
}

.align-right-boton {
    display: flex;
    justify-content: flex-end;
   margin-right: 250px;
   margin-bottom: 16px;
  }

  .p-lg-5[_ngcontent-yww-c81] {
    padding: 3rem !important;
    margin-left: 18px;
    margin-right: 22px;
}
  