<ng-template #modal let-modal>
    <div class="modal-body">
        <div *ngIf="aprobar" class="row mb-3" style="text-align: center;">
            <h1 class="fw-semibold fs-14px">¿Esta seguro de aprobar el reporte?</h1>
        </div>
        <div *ngIf="!aprobar" class="row mb-3" style="text-align: center;">
            <h1 class="fw-semibold fs-14px">El reporte será devuelto al verificador para su revisión</h1>
        </div>
        <div class="row mb3">
            <div class="col-6" style="text-align: center;">
                <button type="button" class="boton primario relleno"
                (click)="aprobarObservacion(this.aprobar)">
                    Aceptar
                </button>
            </div>
            <div class="col-6" style="text-align: center;">
                <button type="button" class="boton primario relleno"
                (click)="modal.dismiss('Cross click')">
                    Cancelar
                </button>
            </div>
        </div>
      </div>
</ng-template>