<div class="row">
    <div class="col-1 fw-semibold">{{subindicador.codigo}}</div>
    <div class="col-4">{{subindicador.nombreSubIndicador}}</div>
    <div class="col-7 row">
        <div class="periodo row" *ngFor="let periodo of subindicador.preguntas"
        [ngClass]="{'bg-invalido': preguntasFaltantes.includes(periodo.idPregunta)}">
            <div class="col">
                <app-pregunta-encuesta-cuantitativa
                (cambio)="manejarCambioRespuesta($event)"
                [soloLectura]="soloLectura"
                [pregunta]="periodo"/>
            </div>
            <div class="col">
                <div class="col-6">
                    <span class="fs-12px">Tipo de dato: <span class="fw-semibold">{{ periodo.validaciones.tipoDato }}</span></span>
                </div>        
            </div>
        </div>
    </div>
</div>