<ng-template #modal>
    <div class="card">
        <div class="card-body p-5">
            <h4 class="text-danger text-center fw-semibold">¡Atencion!</h4>
            <p class="text-center">
                Si envía a la ST, aún cuando existen ítems y pasos que no han sido completados por la empresa, acepta el
                incumplimiento de la metodología planteada en la Resolución 40595 de 2022. En caso de decidir no
                completar el formulario o no allegar las evidencias necesarias, también se expone a que esta Entidad
                reporte dichas inconsistencias a la ANSV.
            </p>
            <p>
                Usted posee los siguientes ítems faltantes: {{ mensajeItemsInvalidos }}
            </p>
            <div class="d-flex justify-content-center flex-gap-20">
                <button class="boton primario delineado" (click)="cerrar()">Regresar al formulario</button>
                <button class="boton primario relleno" (click)="aceptar()">Confirmar envío ST</button>
            </div>
        </div>
    </div>
</ng-template>